{% extends 'base.html.twig' %}

{% block title %}Temoignage{% endblock %}

{% block body %}
    <h1>Temoignage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ temoignage.id }}</td>
            </tr>
            <tr>
                <th>Noms_temoignage</th>
                <td>{{ temoignage.nomsTemoignage }}</td>
            </tr>
            <tr>
                <th>Photo_temoignage</th>
                <td>{{ temoignage.photoTemoignage }}</td>
            </tr>
            <tr>
                <th>Temoignage</th>
                <td>{{ temoignage.temoignage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('temoignage_index') }}">back to list</a>

    <a href="{{ path('temoignage_edit', {'id': temoignage.id}) }}">edit</a>

    {{ include('temoignage/_delete_form.html.twig') }}
{% endblock %}
