{% extends 'base.html.twig' %}

{% block title %}Administration index{% endblock %}

{% block body %}
    <h1>Administration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noms_administration</th>
                <th>Prenoms_administration</th>
                <th>Pseudo_administration</th>
                <th>Mot_de_passe_administration</th>
                <th>Email_administration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administration in administrations %}
            <tr>
                <td>{{ administration.id }}</td>
                <td>{{ administration.nomsAdministration }}</td>
                <td>{{ administration.prenomsAdministration }}</td>
                <td>{{ administration.pseudoAdministration }}</td>
                <td>{{ administration.motDePasseAdministration }}</td>
                <td>{{ administration.emailAdministration }}</td>
                <td>
                    <a href="{{ path('administration_show', {'id': administration.id}) }}">show</a>
                    <a href="{{ path('administration_edit', {'id': administration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administration_new') }}">Create new</a>
{% endblock %}
